---
import { Image } from "astro:assets";

import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import { getAlbumImages } from "../../scripts/albums";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<BaseLayout>
  <div class="text-center my-16 mb-32">
    <h1 class="text-4xl font-bold text-center mt-4 mb-8">
      {album.data.title}
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-16">
      {
        images.map((image) => (
          <Image
            src={image}
            alt={`Image from ${album.data.title} album`}
            format="avif"
            quality={50}
            class="rounded-sm mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
            loading="lazy"
          />
        ))
      }
    </div>

    <p class="text-lg my-4 text-center">
      <a href="/gallery/" class="text-neutral-700 hover:underline">Go back →</a>
    </p>
  </div>
</BaseLayout>
