@import "tailwindcss";

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

/* h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */

@media (min-width: 768px) {
  .nav-links a {
    position: relative;
  }

  .nav-links a::after {
    content: "";
    position: absolute;
    inset: 48px 5px 0;
    height: 4px;
    background-color: #9cafb7;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }

  .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

html.dark {
  background-color: black;
  color: #f1f5f9;
}

.dark .nav-links a {
  color: #f1f5f9;
}

.dark .hamburger span {
  background-color: #f1f5f9;
}

.dark .gallery-item {
  color: #f1f5f9;
}
