---
import Social from "./Social.astro";
import { Icon } from "astro-icon/components";
---

<footer
  class="footer w-full 2xl:max-w-7xl max-w-5xl 2xl:h-32 border-t-4 h-[7rem] m-auto mt-8"
>
  <div class="flex gap-4 h-full items-center justify-between">
    <p class="text-sm text-neutral-700 flex-none">
      Copyright © Andie Chang 2025. All rights reserved.
    </p>
    <div class="flex gap-4">
      <a
        href="https://github.com/andiechang77"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="github" />
      </a>
      <a
        href="https://linkedin.com/in/andie-chang"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="linkedin" />
      </a>
    </div>
  </div>
</footer>
