---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<!-- <header class="max-w-5xl border-b-[6px] h-[7rem] m-auto"> -->
<header
  class="w-full 2xl:max-w-7xl max-w-5xl 2xl:h-32 border-b-6 h-[7rem] m-auto"
>
  <nav class="flex flex-row h-full justify-between items-center flex-wrap">
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
