---

---

<div
  class="nav-links hidden w-full bg-[#9CAFB7] absolute top-[7rem] left-0 z-10 md:top-auto md:block md:w-auto md:bg-transparent md:relative"
>
  <a
    href="/"
    class="block px-6 py-3 text-lg font-bold uppercase text-white hover:bg-[#787775] md:hover:bg-transparent md:inline-block md:px-5 md:text-black"
  >
    Home
  </a>
  <a
    href="/about/"
    class="block px-6 py-3 text-lg font-bold uppercase text-white hover:bg-[#787775] md:hover:bg-transparent md:inline-block md:px-5 md:text-black"
    >About</a
  >
  <a
    href="/gallery/"
    class="block px-6 py-3 text-lg font-bold uppercase text-white hover:bg-[#787775] md:hover:bg-transparent md:inline-block md:px-5 md:text-black"
    >Gallery</a
  >
</div>
