---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="en" class="bg-[#f1f5f9]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="md:pl-6 md:pr-6 pl-4 pr-4">
    <Header />
    <main class="2xl:max-w-7xl max-w-5xl mx-auto mb-14 mt-14">
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
